
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* outline: 1px solid black; */
    list-style: none;
}

img{
    display: block;
    margin: 0 auto;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

/* ======HEADER ========*/
.header{
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: #1a3c40;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    height: 150px;
    z-index: 999;
}
.logo{
   padding: 10px; 
}
.logo img{
    width: 100%;
    max-width: 120px;
}
.menu-nav h1{
    color: #fdfdd5;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c, -13px 3px 1px rgba(253,253,213,0.07);
    text-align: center;
    font-size: 4rem;
    font-family: 'Lobster', cursive;
}
.nav-bar{
    display: none;
}
.menu-nav{
    display: grid;
    grid-template-columns: 1fr;
}
.menu-nav ul{
    margin: 0 auto;
    display: flex;
    padding: 0 0 5px;
}
.menu-nav ul li{
    color: #fdfdd5;
    font-family: 'Lobster', cursive;
    padding: 10px 5px 0;
    margin: 0 15px;
    cursor: pointer;
}

.menu-nav ul li:hover{
    border-bottom: 2px solid #fdfdd5;
}

.footer{
    color: #fdfdd5;
    background-color: #1a3c40;
    text-align: center;
    padding: 20px 0 40px;
}

.footer p{
    font-size: 2rem;
    font-family: 'Lobster', cursive;
}

/* ======OFERTAS ========*/


.grid{
    margin-top: 150px;
    padding: 10px 10px 20px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.grid .box {
    height: auto;
    max-height: 300px;
    background-color: #fff;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    position: relative;
    color: #202013;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(20,51,45,0.45); 
    box-shadow: 0px 4px 10px 0px rgba(20,51,45,0.45);
}

.pratos img{
    width: 100%;
    max-width: 300px;
}

.info-pratos{
    padding: 7px 10px 0;
}

.title{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
}

.descritivo{
    font-size: 12px;
    line-height: 1.4;
    margin-top: 10px;
}

.price{
    position: sticky;
    bottom: 8px;
    display: block;
    left: 45%;
    font-size: 12px;
    line-height: 1.4;
    margin-top: 10px;
}

.semanais{
    color: #fdfdd5;
    text-align: center;
    overflow: hidden;
}

.semanais h1{
    padding: 10px 10px 20px;
    background-color: #1A3C40;
    font-family: 'Lobster', cursive;
}
.destaques{
    width: 100%;
    min-height: 260px;
    display: flex;
    padding: 15px 5px 20px;
    background-color: #fff;
    flex-direction: row;
    overflow: auto;
    color: #202013;
}

.destaques{
    scrollbar-color: yellow;
}

.destaques .box{
    background-color: #fff;
    margin: 0 10px;
    height: auto;
    width: 260px;
    flex-shrink: 0;
    object-fit: cover;
    position: sticky;
    top: 0;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(20,51,45,0.45); 
    box-shadow: 0px 4px 10px 0px rgba(20,51,45,0.45);
}

.seleciona_qtd_geral{
    position: absolute !important;
    top: -4px !important;
    left: 5px !important;
}

.fazer-pedido {
    padding: 7px 11px;
    border-radius: 10px 10px 0px 0px;
    background: #1a3c40;
    position: fixed;
    top: 50%;
    color: #fdfdd5;
    margin-left: -39px;
    transform: rotate(90deg);
    border-color: #fdfdd5;
    font-weight: bold;
    text-decoration: none;
}

.semanais h1{
    grid-column: 1 / span 2;
}

/* ====== Fazer pedido =====*/
    .fom-pedido{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        font-family: Arial, Helvetica, sans-serif;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        display: none;

    }

      .fom-pedido > div {
        width: 100%;
        max-width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 15px 20px;
        background: #fff;
        border-radius: 9px;
      }

      .pedido-itens{
        padding: 10px 0 30px;
      }

      .fechar {
        position: absolute;
        width: 30px;
        right: -15px;
        top: -20px;
        text-align: center;
        line-height: 30px;
        margin-top: 5px;
        background: #ff4545;
        border-radius: 50%;
        font-size: 16px;
        color: #8d0000;
      }

      .box-item{
        font-size: 14px;
        display: grid;
        grid-template-columns: 23% 72%;
        grid-gap: 5px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px dotted black;
      }

      .box-item img{
          max-width: 80px;
      }

      .descricao-item strong{
          font-size: 14px;
      }
      .descricao-item p{
        font-size: 12px;
      }

      .seleciona-qtd{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto 0;
        position: relative;
        top: 0;
        left: 0;
      }

      .seleciona-qtd .btn-qtd{
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
      }

      .seleciona-qtd input{
        width: 20px;
        height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        border: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-size: 12px;
      }

      .modal-pedidos input{
        width: 45%;
        margin-left: 6px;
        padding: 2px 4px;
        border: none;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
      }

      .modal-pedidos button{
        margin-top: 20px;
        align-items: center;
        text-align: center;
        width: 100px;
        padding: 5px 10px;
        border-radius: 7px;
        cursor: pointer;
      }
      #enviar-pedido{
        background: transparent;
        border: 2px solid #777e4d;
        color: #000;
      }
      #add-itens{
        background: transparent;
        border: 2px solid #8e8c8a;
        color: #000;
      }
      #enviar-pedido:hover{
        color: #fff;
        background-color: #777e4d;
        border: 2px solid #777e4d;
      }
      #add-itens:hover{
        color: #fff;
        background: #8e8c8a;
        border: 2px solid #8e8c8a;
      }
    /* .fom-pedido input[type="text"]{
        padding: 10px 5px;
        border: none;
        border-bottom: 1px solid black;
    } */

@media (max-width: 800px){
   .header{
       display: block;
       height: auto;
   }
   ._open{
       display: block !important;
   }
   .menu-nav{
       z-index: 999;
       padding: 0px 10px 10px;
   }
   .menu-nav h1{
       font-size: 2rem;
   }
   .menu-nav ul{
       display: none;
       padding-top: 10px;
       margin: 0;
   }
   .nav-bar{
       margin-top: 6px;
       position: absolute;
       right: 10px;
       display: block;
       width: 40px;
       height: auto;
       background-color: transparent;
   }
   .line{
       margin: 7px 0;
       width: 40px;
       height: 4px;
       display: block;
       background-color: #fdfdd5;
   }
   
   .footer p {
        font-size: 1.5rem;
    }


    /* ======OFERTAS ========*/


    .grid{
        margin-top: 210px;
        grid-template-columns: 1fr 1fr;
    }
    .grid .box {
        height: auto;
        min-height: 200px;
        margin-bottom: 10px;
    }
    .info-pratos {
        padding: 7px 4px 0;
    }
    .title{
        font-size: 11px;
    }

    .descritivo{
        font-size: 11px;
    }

    .fom-pedido > div {
        width: 90%;
        max-width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 15px 10px;
        background: #fff;
    }
}

@media (max-width: 520px){

    .box-item{
        grid-template-columns: 24% 76%;
    }

    .grid .box{
        max-height: none;
    }

    .pratos img{
        max-width: none;
    }
 
     .fom-pedido > div {
         width: 90%;
         margin: 10% auto;
         padding: 15px 10px;
     }

     .fechar {
        width: 25px;
        right: 2px;
        top: -3px;
        line-height: 25px;
        margin-top: 5px;
        border-radius: 0;
    }
 }
